.body {font: 16px/24px Arial, Tahoma, sans-serif;
	
}
.nav {
	display: block;
	margin-left: 4px;
	width: 100%;
	
}
.menu {
	color: fff;
	display: block;
	margin-right: 6px;
}

.menur {
	position: relative;
	width: 188px;
	height: 0px;
}

a.textmenu {
	color: fff;
	position:absolute;
	left:20px;
	text-decoration: none;
}
.compnewsnottext {
	position: absolute;
	width: 589px;
	left: 188px;
}
#fm {
	position: absolute;
	margin-top: 151px;
	margin-left: 4px;
}
#ft {
	position: absolute;
	width: 589px;
	left: 188px;
	height: 500px;
}